<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="import" href="weather.html">
<title>
{% block title %}
{% endblock %}
</title>
</head>
<body>
<div class=main>
<div class=header>
	<img src="img/logo.png"></img>
</div>
{% block body %}
{% endblock %}
<div class=footer>
Copyright Ilya Sukhov 2016
</div>
</div>
</body>
</html>
