<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<title>
{% block title %}
{% endblock %}
</title>
</head>
<body>
<div class=main>
<div class=header>
</div>
{% block body %}
{% endblock %}
<div class=footer>
Copyright Ilya Sukhov 2016
</div>
</div>
</body>
</html>
