div{
	width: 100%;
	text-align: center;
}

img{
	width: 100%;
}

table{
	width: 100%;
}

.main{
}

.header{
}

.footer{
}

.list{
}
			
.menu{
}

.day_name{
}

.table{
	
}

.photos{
}

.facts{
}

.weather{
	background-color: #f0f0f0;
	margin: 5px;
}

.temp{
  width: 25%;
	float: left;
}

.weather_ico{
  width: 25%;
	float: left;
}

.weather_desc{
	width: 25%;
	float: left;
}

.wind{
	width: 25%;
	float: left;
}

.weather_ico_img{
	width: 20px;
}
