div{
	width: 100%;
	text-align: center;
}

img{
	width: 100%;
}

table{
	width: 100%;
}

.main{
}

.header{
}

.footer{
	margin-top: 30px;
	padding-top: 30px;
}

.list{
}
			
.menu{
	margin: 15px;
	padding: 15px;
}

.menu_entry{
	width: 50%;
	text-align: center;
	float: left;
}

.day_name{
}

.table{
	
}

.photos{
}

.facts{
}

.weather{
	margin: 15px;
	padding: 15px;
}

.temp{
  width: 20%;
	float: left;
	font-size: 20px;
}

.weather_ico{
  width: 20%;
	float: left;
}

.weather_desc{
	width: 20%;
	float: left;
	font-size: 20px;
}

.wind{
	width: 40%;
	float: left;
	font-size: 20px;
}

.speed{
	width: 50%;
}

.weather_ico_img{
	width: 20px;
}
.north{
	transform: rotate(270deg);
	width: 50%;
}
.north-east{
	transform: rotate(315deg);
	width: 50%;
}
.east{
	transform: rotate(0deg);
	width: 50%;
}
.south-east{
	transform: rotate(45deg);
	width: 50%;
}
.south{
	transform: rotate(90deg);
	width: 50%;
}
.south-west{
	transform: rotate(135deg);
	width: 50%;
}
.west{
	transform: rotate(180deg);
	width: 50%;
}
.north-west{
	transform: rotate(225deg);
	width: 50%;
}

