<div class=weather>
	<div class=temp>
		{{temp}}
	</div>
	<div class=weather_ico>
		<img src="{{ico}}" class=weather_ico_img></img>
	</div>
	<div class=weather_desc>
		{{weather}}
	</div>
	<div class=wind>
		<div class={{direction}}>&#10148</div>
		<div class=speed>
		{{speed}}
		</div>
	</div>
</div>
