<div class="weather">
<img src={% weather_args.pic %} alt={% weather_args.desc %}></img>
<img src={% weather_args.wind %} alt={% weather_args.wind_desc %}>{% weather_args.wind_speed %}</img>
{% weather_args.temp %}
</div>
