<div class=weather>
	<div class=temp>
		{{temp}}
	</div>
	<div class=weather_ico>
		<img src="{{ico}}"></img>
	</div>
	<div class=weather_desc>
		{{weather}}
	</div>
	<div class=wind>
		<img src=img/weather/1.png>{{speed}}</img>
	</div>
</div>
